/* Base styles */
/* font styles */
body {
    font-family: 'Roboto', sans-serif;
}  
ul, ol {list-style-type: none;}
a {text-decoration: none;}
button{cursor: pointer;}
/* body */
.allpage{
    color: #434455;
    background-color: #FFFFFF;
}
 /* Header 1 */
.hero-header{
    background: var(--WHITE, #FFF);
}
.hero-header-nav {
    color: var(--NAVY-BLUE, #2E2F42);  
}
.logo 
{
    color: var(--IRIS, #4D5AE5); 
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.span-logo 
{
    color: var(--NAVY-BLUE, #2E2F42);
}
.menu-link{
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
}
.adress{
    font-style: normal;
}
.adress-link{
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
}
.menu-link:hover{
    color:var(--OCEAN,#404BBF);
} 
.menu-link:active{
    color:var(--OCEAN,#404BBF);
} 
.menu-link:focus{
    color: #404bbf;
}
.adress-link:hover{
    color:var(--OCEAN,#404BBF);
}
.adress-link:focus{
    color: #404bbf;
}
.hero-image {
    background: var(--NAVY-BLUE, #2E2F42);
}
.hero-image-header{  
    /*background: var(--NAVY-BLUE, #2E2F42);*/
    /* background-color: background: var(--navyblue, #2E2F42);*/
    color: var(--white, #FFF);
    text-align: center;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
}
.btn{
    background-color:#4D5AE5;
    color:#FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.04em;
}
.btn:hover, .btn:focus{
    background-color:#404BBF;
}
.benefits-mainheader{
    letter-spacing: 0.02em; 
}
.benefits-header{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;
}
.benefits-text{
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
}
.ourteam{
    background-color: #F4F4FD;
}
.ourteam-list{
    background-color: #FFFFFF;
}
.ourteam-item{
    background-color: #FFFFFF;
}
.ourteam-header{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.person{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;
}
.personposition{
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
}
.portfolio{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.portfolioproject{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;
}
.portfolio-type{
    color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.02em;
}
.hero-footer{
    background: #2e2f42;
    font-family: Raleway,sans-serif;
}
.footer-logo{
    color: #4d5ae5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase; 
}
.span-footer-logo{
    color: #F4F4FD;
}
.footer-paragraf{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
}

